<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>首页</title>
    <script src="/static/layui/layui.js"></script>
    <link href="/static/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <h1>登录成功！！！！！！！</h1>
</div>
</body>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('element', function () {
    });
</script>
</html>